.input.input {
    border-radius: 0;
    border-width: 0;
}

.input.input:global(::placeholder) {
    opacity: 0.3;
    transition: opacity 0.15s ease-in-out;
}

.input.input:global(:focus::placeholder) {
    opacity: 0.6;
}
