.transparent {
    opacity: 0.3;
}

.container {
    position: relative;
}

.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.3;
}

.spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
